@import 'normalize.css';



/*Header and footer*/


#header{
    background-color:#C4C4C4;
    text-align: left;
    padding: 6px;
    padding-bottom: 0px;
    height: 10%;
    font-size: xx-large;
}
#footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C4C4C4;
    text-align: center;
}

/* ---------------------------------------------- */

#logimg{
    height: 100px;
    float: left;
}
#logimg2{
    height: 100%;
    float: left;
}

/*Validacio.php*/

#contenidor_val {
    background-color: red;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#validacio {
    background-color: cadetblue;
    padding: 4%;
    margin: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seguent{
    width: 20%;
}



#compra {
    background-color: cadetblue;
    padding: 4%;
    margin: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menuIndex{
    background-color: 40B1D7;
    height: 7%;
    margin-left: 5%;
    margin-right: 5%;

}
#prinIndex{
    background-color: 40B1D7;
    height: 74%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

#latdIndex{

    height: 100%;
    width: 23%;

}
#cenIndex{

    height: 100%;
    width: 54%;
    background-color: 40B1D7;
    border: 2px solid black;

}
#latiIndex{

    height: 100%;
    width: 23%;
}
.imgLat{
    background-color: azure;
    border: 2px solid black;
    height: 33%;
    display: flex;
}
   