@import 'normalize.css';

    #header {
        background-color:#C4C4C4;
        text-align: left;
        padding: 6px;
        height: 100px;
        font-size: xx-large;
    }
    #footer {

        background-color: #C4C4C4;
        text-align: center;
        position: absolute;
        margin-bottom: 5px;
        bottom: 0;
        width: 100%;
    }
    #logimg{
        height: 100px;
        float: left;
    }
    